header {
    background-color: #16537e;
        padding: 20px;
        font-size: 24px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #149ed3;
    border-top: 3px #293f95;
    }
    
    h1 { font-size: 18px;  }
    h2 { font-size: 16px;  }
    h3 { font-size: 14px;  }
    
    .bold-text {font-weight: bold; }

/* Video padding*/

.video-padding {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 60px;
    padding-bottom: 10px;
}
/* End video padding*/
