/*Font*/
h1 { font-size: 18px;
color: #143852;  }
h2 { font-size: 16px;
    color: #143852; 
    padding-left: 10px;  }
h3 { font-size: 14px;
    padding-left: 10px;   }
p {font-size: 14px;
padding-left: 20px;}
em {
    padding-left: 20px;}
li{
    line-height: 30px;
    font-size: 14px}

.header {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #143852;
        color: #ffffff;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 15px;
        padding-bottom: 5px;
        font-size: 50px;
        font-weight: bolder;
}

.mission_statement {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    overflow: auto;
    background-color: #0b4e7e;
        color: #ffffff;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        font-size: 15px;
        font-style: oblique;
    
}

.nav_menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    overflow: auto;
    background-color: #3081ba;
        color: #ffffff;
        padding: 2px;
        font-size: 12px;
        font-weight: bold;    
}

.nav__item {
    display: inline-block;
    flex-shrink: 0;}

.nav__link {
    display: block;
    font-size: var(--text-sm);
    padding: 1em;
    text-decoration: none;
    color: hsla(var(--color-contrast-high-h), var(--color-contrast-high-s), var(--color-contrast-high-l), 0.65);
    border: 2px solid transparent;
    border-right-width: 0;
    border-left-width: 0;
    transition: 0.2s;
  }

.nav__link:hover {
    color: cyan;
  }


.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding-left: 20px;
    background-color: cornsilk;
    }
    


.footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    padding-left: 0px;
    background-color: #f9e598;
    }
     


 /*Image styling*/  
.image {
padding-top: 10px;
padding-right: 10px;
padding-left: 30px;
padding-bottom: 10px;
}

/* Video padding*/

.video-padding {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
}
/* End video padding*/


